/*Global styles
-----------------------------*/
 html {
     box-sizing: border-box;
 }
*,*:before, *:after {
    box-sizing: inherit;
}

img {
    width: 300px;
    border-radius: 8px;
    
}

a {
    color: blueviolet;
}
a:hover {
    text-decoration: none;
    color: white;
    background: black;
    padding: 8px;
    border-radius: 4px;

}
body {

    
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-style: oblique;
    text-align: left;
    text-shadow: 2px 2px 5px red, 0 0 50px violet, 0 0 5px yellow;
}

h2 {
    margin: 0;
    
}
.shadow {
    text-shadow: 2px 2px 5px lightpink, 0 0 25px violet, 0 0 5px pink; 
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}


/*Header
-----------------------------*/
header {
    
    background-color: palevioletred;
    border-bottom: 4px solid rgb(131, 26, 26);
    border-bottom-width: thin;
    border-top: 4px solid  rgb(131, 26, 26);
    border-top-width: thin;
    
   
}



/*work experience
-----------------------------*/
.work {
    background-color: lightblue;
   
}
   



/*Education
-----------------------------*/
.education {
    background-color: oldlace;
    
}

/*project
-----------------------------*/
.project {
    background-color: lightsalmon;
   
}

.project-item {
    overflow: hidden;
    border-bottom: 1px dashed white;
    padding: 25px 0;
   
}
.project-item img {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}


/*footer
-----------------------------*/

footer {
    background-color: slategrey;
    color: #F7FFF7;
    border-top: 4px solid black;
}
